DBHost=localhost
DBPort=5432
DBUser=postgres
DBPassword=postgres
DBName=what_i_know
DBSSLMode=disable
HTTP_ADDRESS=:8080
HTTP_API_BASE_PATH=/
HTTP_READ_TIMEOUT_SECONDS=5
HTTP_WRITE_TIMEOUT_SECONDS=10
HTTP_IDLE_TIMEOUT_SECONDS=30
HTTP_SHUTDOWN_TIMEOUT_SECONDS=10
